html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: #959494;
}

button {
  outline-color: transparent;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}